.form-field {
  width: 100%;
  margin-bottom: 30px;

  label {
    display: block;
    margin-bottom: 5px;
    color: var(--c-light-blue);
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: .05em;
  }

  .field {
    width: 100%;
    padding: 7px 20px 8px;
    background: var(--c-light-blue);
    border: 0;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
  }
}