.game-carousel {
  position: relative;
  margin-bottom: 20px;
  background: linear-gradient(180deg,#223f5a 0,#17314a);
  padding: 0 50px;
  
  .swiper-slide {
    text-align: center;
  }
  
  .swiper-button-prev,
  .swiper-button-next  {
    height: 100%;
    top: 0;
    padding: 0 10px;
    width: 40px;
    margin: 0;
    transform: none;
    background: rgba(10,30,50,.05);
    transition: background .3s;
    border: 0;
    cursor: pointer;
    color: var(--white);
  
    &:hover {
      background: rgba(10,30,50,.25);
    }
  }
  
  .swiper-button-next {
    right: 0;
  }
  
  .swiper-button-prev {
    left: 0;
  }
  
  .swiper-button-prev:after, 
  .swiper-button-next:after {
    font-size: 2rem;
    font-weight: 700;
  }
  
  .swiper-horizontal > .swiper-pagination {
    position: static;
    transform: none !important;
    margin: 20px auto 10px;
  }
  
  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    display: inline-block;
    width: 96px;
    height: auto;
    margin: 0 6px 10px;
    opacity: 1;
    border: 3px solid transparent;
    border-radius: 3px;
    transition-duration: .3s;
    transition-property: transform, border-color;
  
    &.swiper-pagination-bullet-active {
      border-color: var(--c-blue);
      transform: scale(1.2);
    }
  }
  
  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet img {
    display: block;
  }
}