.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 20px;
  margin-top: 20px;
  gap: 5px;
  list-style: none;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 2px solid var(--c-border);
    border-radius: 3px;
    transition: border-color var(--transition) ease, background-color var(--transition) ease, color var(--transition) ease;
    color: #fff;
    text-decoration: none;
    color: var(--c-light-blue);
    font-size: 1.125rem;

    &:hover {
      border-color: var(--c-blue);
      color: #fff;
    }
  }

  a.active {
    pointer-events: none;
    text-decoration: none;
    background-color: var(--c-active);
    border-color: var(--c-active);
    color: #fff;
  }
}