.pass-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  form {
    display: flex;
    gap: 10px;
  }

  .form-field {
    margin: 0;
  }

  .btn {
    padding: 0 10px;
  }
}