.search-form {
  position: relative;
  margin-bottom: 30px;
  input {
    padding: 20px;
    background: var(--c-search);
    border: 0;
    width: 100%;
    color: #fff;
    font-size: 1.125rem;

    &:focus {
      outline: none;
    }
  }
}

.search-form__reset {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 100%;
  background-color: var(--c-blue);
  border: 0;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  transition: opacity var(--transition);

  &:hover {
    opacity: .7;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25px;
    height: 2px;
    background-color: #fff;
  }

  &:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}