.main .banner .swiper {
  padding-bottom: 30px;

  .swiper-pagination {
    top: auto;
    bottom: 0;
  }

  .swiper-pagination-bullet {
    width: 20px;
    height: 15px;
    border-radius: 3px;
    transition: all var(--transition);

    &:hover {
      background-color: var(--c-blue);
      opacity: 1;
    }
  }
}
